RECAPTCHA_ENABLED=true
RECAPTCHA_SECRET_KEY=6LcL8LssAAAAAAqOmyNta1Fo9oopolsSxA4uSwPT
RECAPTCHA_MIN_SCORE=0.5
RECAPTCHA_EXPECTED_ACTION=lead_submit
RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
